<div class="mx-auto" style="width: 400px;">
  <div class="padding-top">
<h2 class = "text-center">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="py-2">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%></div>
    <div class="py-2">
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %></div>
    <div class="py-2">
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %></div>
    <div class="py-2">
          <%= f.input :first_name,
                  required: true,
                  input_html: { autocomplete: "first name" } %></div>
      <div class="py-2">
      <%= f.input :last_name,
                  required: true,
                  input_html: { autocomplete: "last name" } %></div>
  </div>
    <div class="span2">
      <p><button class="btn btn-success btn-block"><%= f.button :submit, "Sign Up" %></button></p>
    <%= render "devise/shared/signup" %>
  </div>
<% end %>
