

<div class="container">
<div class="container mt-5 bg-light p-3">
  <% if @booking.car.photo.attached? %>
    <% @url = cl_image_path(@booking.car.photo.key, height: 300, crop: :scale) %>
  <% else %>
    <% @url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' %>
  <% end %>

  <div class="banner" style="background-image: url(<%= @url %>);"></div>

  <div class="row justify-content-around">
    <div class="col-6">
    <div class="bg-light">
      <h2> <%= @booking.car.make %> <%= @booking.car.model %> </h2>
    </div>
    <div class="mb-3 bg-light">
      <h4 class="mb-3">Seats: <%= @booking.car.seats %> </h4>
    </div>
    <div class="bg-light">
      <h3> Type: <%= @booking.car.car_type %> </h3>
      <h4> Location: <%= @booking.car.suburb %></h4>
      <h5>Transmission: <%= @booking.car.transmission %> </h5>
    </div>
    </div>
    <div class="col-4">
     <h5 class="card-text">Booking start date:  <%= @booking.start_date %></h5>
     <h5>Booking end date:  <%= @booking.end_date %></h5>
     <h5 class="mb-3">Price per day: $<%= @booking.car.price %> </h5>
      <% if current_user != @booking.car.user %>
        <div class='bg-light'>
          <%= link_to 'Edit', edit_booking_path(@booking.id), class: 'btn btn-primary mb-2' %>
          <%= link_to 'Delete', booking_path(@booking), class: 'btn btn-danger ml-4 mb-2', method: 'delete', data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-11">
      <%= link_to 'Back', bookings_path, class: 'btn btn-primary mb-2' %>
    </div>
  </div>
</div>
