

<div class="container">
  <h2>My Bookings!</h2>

  <div class="cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src= <%= @url %> alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=booking.car.make%>, <%=booking.car.make%></h5>
          <p class="card-text">Booking start date:  <%= @booking.start_date %>, <br>Booking end date:  <%= @booking.end_date %></p>
          <%= link_to 'Edit', edit_booking_path(@booking.id), class: 'btn btn-primary mb-2' %>
          <%= link_to 'Delete', booking_path(@booking), class: 'btn btn-danger ml-4 mb-2', method: 'delete', data: { confirm: "Are you sure?" } %>
        </div>
      </div>
  </div>
</div>
