<% cars.each do |car| %>

  <% if car.photo.attached? %>
    <% @url = cl_image_path(car.photo.key, height: 300, crop: :scale) %>
  <% else %>
    <% @url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' %>
  <% end %>

<div class="card-container">
  <div class="card">
    <div>
      <div class="card-top">
        <img class="card-img-top" src=<%= @url %>>
        <div class="card-heading">
          <h2 class="heading"><%= link_to "#{car.make}, #{car.model}", car_path(car.id) %></h2>
          <div class="linebreak"></div>
          <p><b><%= link_to "Price: #{car.price}", car_path(car.id), class: "subheading" %></b></p>
        </div>
      </div>
      <div class="car-info">
        <span><i class="fas fa-chair"></i> <%="#{car.seats}"%></span>
        <span><i class="fas fa-cog"></i> <%= "#{car.transmission}"%></span>
        <span><i class="fas fa-compass"></i> <%= "#{car.suburb}"%></span>
      </div>
    </div>
  </div>
</div>
<% end %>
