<h1>All cars from database</h1>


<% @cars.each do |car| %>
  <h3><%= link_to "#{car.make}, #{car.model}", cars_path(car.id) %></h3>
  <h2><strong><%= car.price %></strong></h2>
  <h4><%= car.suburb %></h4>
  <h4><%= car.seats %></h4>
  <%= link_to "More info",
            cars_path(car.id),
            method: :new,
            data: { confirm: "Are you sure?" } %>
<% end %>



<%# <%= link_to "Rent this car", new_rent_path %> %>
