<div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container mt-0 p-3">
  <% if @car.photo.attached? %>
    <% @url = cl_image_path(@car.photo.key, height: 300, crop: :scale) %>
  <% else %>
    <% @url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' %>
  <% end %>


  <div class="row justify-content-around mt-0">
    <div class="col-8">
      <div class="bg-light rounded p-3 shadow d-flex justify-content-center mb-3">
      <%= image_tag @url, style: 'height:300px;'%>
    </div>
    <div class="bg-light rounded p-3 shadow mb-3">
      <h1> <%= @car.make %> <%= @car.model %> </h1>
      <h3> Type: <%= @car.car_type %> </h3>
      <h4> Location: <%= @car.suburb %></h4>
      <h4>Seats: <%= @car.seats %> </h4>
      <h5>Price per day: $<%= @car.price %> </h5>
      <p>Transmission: <%= @car.transmission %> </p>
    </div>


    <% if current_user == @car.user %>
      <div class="bg-light rounded p-3 shadow p-4 mb-5">
        <h2>Bookings</h2>
        <% if current_user == @car.user %>
          <%@car.bookings.each do |booking| %>
            <div>
              <h3> <%= booking.user.first_name %> <%= booking.user.last_name %></h3>
              <h4>Start Date</h4><%= booking.start_date %>
              <h4>End Date</h4><%= booking.end_date %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="bg-light rounded p-3 shadow p-4 mb-5">
      <h2>Reviews</h2>
      <%@car.booking_reviews.each do |review| %>
        <div class='bg-white p-3 mb-2'>
          <div class="d-flex justify-content-between border-bottom mb-2 align-items-end">
            <h4><%= review.booking.user.first_name.capitalize %> <%= review.booking.user.last_name.capitalize %></h4>
            <h5>Rating: <%= review.rating %> stars</h4>
          </div>
          <h5><%= review.content %></h4>
        </div>
      <% end %>
    </div>
  </div>


    <div class="col-4">
      <div class="sticky-top">
      <% if current_user == @car.user %>
        <div class="bg-light rounded p-3 shadow p-4 mb-5">
          <%= link_to 'Edit', edit_car_path(@car.id), class: 'btn btn-primary mb-2' %>
          <%= link_to 'Delete', car_path(@car.id), class: 'btn btn-danger ml-4 mb-2', method: 'delete', data: { confirm: "Are you sure?" } %>
        </div>
      <% else %>
        <div class="bg-light rounded p-3 shadow p-4 mb-5">
          <%= simple_form_for([@car, @booking]) do |f| %>
            <%= f.input :start_date, label: 'What day would you like to rent the car?'%>
            <%= f.input :end_date, label: 'When would you like to return the car?'%>
            <div class="form-actions">
              <%= f.button :submit, { class: 'btn btn-primary w-100' } %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class='px-4'>
        <% if current_user == @car.user %>
          <%= link_to 'Back', listings_cars_path, class: 'btn btn-primary mb-2 w-100' %>
        <% else %>
          <%= link_to 'Back', cars_path, class: 'btn btn-primary mb-2 w-100' %>
        <% end %>
      </div>
    </div>
      </div>
  </div>


</div>
